## The Moon

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text.split ('.')

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [3]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
key_words = ["average", "temperature", "distance"]

In [10]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
moon = text.split('. ')
moon
key_words = ["average", "temperature", "distance"]
for sentence in moon:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [11]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
Celsius = text.split('. ')
Celsius
for sentence in Celsius:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

### Ejercisio 2

In [22]:
heading = 'Gravedad planetaria en la luna'
heading.title()

Gravedad Planetaria En El Sistema Solar
name = "Moon"
 gravity = 1.62
 planet = "Earth"

In [21]:
multiline = """name = "Luna"\n Gravedad = 1.62\n Planeta = "Tierra"\n """
print (multiline)

name = "Moon"
 gravity = 1.62
 planet = "Earth"

In [23]:
heading = 'Gravedad planetaria en la luna'
heading.title()
multiline = """name = "Luna"\n Gravedad = 1.62\n Planeta = "Tierra"\n """
template = f"""{heading.title()} 
{multiline} 
""" 
print(template)

Gravedad Planetaria En El Sistema Solar
name = "Moon"
 gravity = 1.62
 planet = "Earth"

In [26]:
heading = 'Gravedad planetaria en Titan'
heading.title()

'Gravedad Planetaria En Titan'

In [25]:
multiline = """name = "Titan"\n Gravedad = 1.352\n Planeta = "Saturno"\n """
print (multiline)

name = "Titan"
 Gravedad = 1.352
 Planeta = "Saturno"

In [24]:
heading = 'Gravedad planetaria en Titan'
heading.title()
multiline = """name = "Titan"\n Gravedad = 1.352\n Planeta = "Saturno"\n """
template = f"""{heading.title()} 
{multiline} 
""" 
print(template)

Gravedad Planetaria En Titan
name = "Titan"
 Gravedad = 1.352
 Planeta = "Saturno"